### Imports

In [1]:
import os

In [2]:
import pandas as pd

### Consts

In [3]:
DATA_PATH = "data/train/"
GEO_FILE = "geo_params.csv"
SKU_FILE = "sku_final.csv"
TRAIN_FILE = "train_final.csv"

### Read data

In [4]:
df = pd.read_csv(os.path.join(DATA_PATH, TRAIN_FILE))
df.shape

(27956445, 6)

In [5]:
df.head()

           ID  geoCluster    SKU        date  price  sales
0  RR27956447          21  32485  2021-07-08  39.69    0.9
1  RR27956448          21  32485  2021-07-09    NaN    NaN
2  RR27956449          21  32485  2021-07-10    NaN    NaN
3  RR27956450          21  32485  2021-07-11    NaN    NaN
4  RR27956451          21  32485  2021-07-12    NaN    NaN

In [6]:
sku = pd.read_csv(os.path.join(DATA_PATH, SKU_FILE))
sku.shape

(1961, 20)

In [7]:
sku.head()

,SKU,productCategoryId,productCategory_caption_UKR,productCategory_caption_RU,productCategory_caption_ENG,productTypeId,productType_caption_UKR,productType_caption_RU,productType_caption_ENG,brandId,lagerUnitQuantity,lagerUnitTypeId,lagerUnitType_caption,trademark,countryOfOrigin,countryOfOrigin_caption,commodity_group,commodity_group_caption_UKR,commodity_group_caption_RU,commodity_group_caption_ENG
0,17,5416.0,Хурма,Хурма,Persimmon,4770.0,Тропічні фрукти - Хурма - Звичайна,Тропические фрукты - Хурма - Обычная,Tropical fruit — Persimmon — Plain,NaN,1.0,1,г,NaN,NaN,NaN,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits
1,18,5413.0,Фейхоа,Фейхоа,Feijoa,4772.0,Тропічні фрукти - Екзотичні,Тропические фрукты - Экзотические,Tropical fruit — Exotic,NaN,1.0,1,г,NaN,NaN,NaN,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits
2,24,5425.0,Гранат,Гранат,Pomegranate,4760.0,Тропічні фрукти - Гранат - Звичайний,Тропические фрукты - Гранат - Обычный,Tropical fruit — Pomegranate— Plain,NaN,1.0,1,г,NaN,NaN,NaN,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits
3,25,5431.0,Апельсин,Апельсин,Orange,4773.0,Цитрусові фрукти - Апельсин - Звичайний,Цитрусовые фрукты - Апельсин - Обычный,Citrus fruit — Orange — Plain,NaN,1.0,2,кг,NaN,8.0,Іспанія,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits
4,208,5835.0,Вода України газована,Вода Украины газированная,"Water, Ukraine, sparkling",3457.0,Лікувально-столова вода - Україна - ПЕТ - від ...,Лечебно-столовая вода - Украина - ПЭТ - от 1л ...,Therapeutic-table water — Ukraine — PET — from...,1241.0,1.5,3,л,3670.0,1.0,Україна,5550022,Вода Мфнеральна,Вода Минеральная,Mineral water

In [8]:
len(sku.SKU.unique())

1961

In [9]:
len(sku.brandId.unique())

90

In [10]:
geo = pd.read_csv(os.path.join(DATA_PATH, GEO_FILE))
geo.shape

(515, 2)

In [11]:
geo.head()

   geoCluster  cityId
0          21       1
1          47       1
2          48       1
3          92       1
4         112       1

In [12]:
len(geo.geoCluster.unique())

515

In [13]:
sample = pd.read_csv("data/sample_final.csv")
sample.shape

(1666028, 2)

In [14]:
test = pd.read_csv("data/test_data.csv")
test.shape

(1666028, 5)

In [15]:
test.head()

          ID  geoCluster    SKU        date  price
0  RR1666030          21  32485  2021-07-20  66.69
1  RR1666031          21  32485  2021-07-21  66.69
2  RR1666032          21  32485  2021-07-22  66.69
3  RR1666033          21  32485  2021-07-23  66.69
4  RR1666034          21  32485  2021-07-24  66.69

In [19]:
test.date.value_counts()

2021-07-23    119002
2021-07-25    119002
2021-07-21    119002
2021-08-02    119002
2021-07-28    119002
2021-07-26    119002
2021-07-24    119002
2021-08-01    119002
2021-07-20    119002
2021-07-31    119002
2021-07-30    119002
2021-07-22    119002
2021-07-29    119002
2021-07-27    119002
Name: date, dtype: int64

In [22]:
len(test.date.value_counts())

14

In [21]:
test.date.min(), test.date.max()

('2021-07-20', '2021-08-02')

In [23]:
len(test.SKU.unique())

1961